.projectHeader{
    display:flex;
    flex-direction: row-reverse;
    justify-content: right;
}

.projectContainer{
    display: flex;
    flex-direction: column;
    padding: 5px;
    padding-left: 0px;
    padding-bottom: 15px;
    border-bottom: 3px black solid;
    border-left: 3px black solid;
    width: 550px;
    h1 {
        align-self: center;
    }
}

.DECIDEHERE{
    flex-grow:1;
    
}