:root{
  --font:  "Roboto mono", monospace;
}

body{
  overflow: hidden; 
}


.mainContainer{
  display: flex;
  flex-direction: row;
  padding: 25px;
  padding-top: 5px;
  
}

.boxLeft{
  background-color: white;
  font-family: var(--font);
  font-size: 20px;
  height: 95vh;
  flex: 1;
  margin-right: 15px;
  border: 3px solid black;

  legend{
    border: 3px solid black;
    background-color: white;
  }
}
.boxRight{
  font-family: var(--font);
  font-size: 20px;
  flex: 3;
  border: 3px solid black;
  legend{
    border: 3px solid black;
    background-color: white;
  }
}

.projects{
  font-family: var(--font);
  font-size: 20px;
  display:flex;
  height: 98%;
  flex-direction: column;
  list-style: none;
  padding-left: 0px;
}

.projectButton{
  padding-right: 15px;
  margin-bottom: 15px;
  padding-left: 5px;
  background-color: white;
  border: 3px solid black;
  transition-duration: 300ms;
  cursor:pointer;
  
  span{
    font-weight: bold;
    float: right;
  }
}

.profile{
  border: 3px solid black;
  height: 15vh;
  margin-top: auto;
  display:flex;
  flex-direction: row;
}

.profImage{
  margin: 5px;
  border: 3px solid black;

}

.profName{

}


.socials{
  margin-top: 10px;
  height: 7vh;
  border: 3px solid black
}
.projectButton:hover{
  transition-duration: 300ms;
  -webkit-box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
  -moz-box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
  box-shadow: 5px 5px 0px 0px rgba(0,0,0,1);
}


.blue:hover{
  background-color: #C7E9ED;
}
.yellow:hover{
  background-color: #F9FFB5;
}
.green:hover{
  background-color: #B3F5BC;
}
.brown:hover{
  background-color: #EADDCA;
}
.red:hover{
  background-color: #FF6961;
}